# VS Code artifacts
.vscode/
*.code-workspace
.history/

# Colcon build directories
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/

# OS
.DS_Store
Thumbs.db
